<!--htmlhint spec-char-escape:false -->

<!--
This partial prints out a description of the passed in listing
-->

<h2><%= listing.name %></h2>
<h3>$ <%= listing.price.toFixed(2) %></h3>
<h3>Category: <%= listing.category %></h3>
<h3>Deadline: <%= listing.end %></h3>