<!-- htmlhint spec-char-escape:false -->

<!--
This partial prints out features on the homepage of the site
-->

<div class="features">
    <div class="feature">
        <h2>Too many problems?</h2>
        <p>
            List your problem for young software developers to solve and gain experience.
        </p>
    </div>
    <div class="feature">
        <h2>Looking for Ideas?</h2>
        <p>
            Code and solve problems from a list of actual problems people face.
        </p>
    </div>
</div>