<!-- htmlhint spec-char-escape:false -->

<!--
This is the site's 'Hero', it's the main section on the site's homepage.
-->

<div class="header">
    <h1>Problem Solver</h1>
    <p>
        Someone can fix your problems?<br>
        Someone has a problem you can solve.
    </p>
    <a href="/listings">View Problems</a>
</div>