<!-- htmlhint spec-char-escape:false -->

<!-- 
This partial prints out the site's navigation bar
-->

<div class="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/listings">Browse Ideas</a></li>
    <li><a href="/signup">Add Your Problem</a></li>
    <li><a href="https://glitch.com/edit/#!/<%= process.env.PROJECT_DOMAIN %>?path=NOTES.md:1:0" target="_blank">Glitch Editor</a></li>
  </ul>
</div>