<!DOCTYPE html>

<html>
  
<head>

  <%- include( 'partials/head' ); %>
  
</head>

<body>
  
	<%- include( 'partials/nav' ); %>
	
	<div class="content signup-content">
	  
		<%- include( 'forms/signup'); %>
		
	</div>
	
  <%- include( 'partials/footer' ); %>
	
</body>

</html>