<!--htmlhint spec-char-escape:false -->

<!--
This is the signup form for adding new boxes to the site
-->

<h2>Post a new listing</h2>

<form enctype="multipart/form-data" method="post">
  
  <label>Image: </label>
  <input name="image" type="file" />
  
  <label>Problem Name:</label>
  <input name="name" />
  
  <label>Problem Description: </label>
  <input name="description" />
  
  <label>Prize: $</label>
  <input name="price" type="number" min="0" step="0.01" />
  
  <div>
    <label>Category: </label>
    <select name="category">
      <option value="Education">Education</option>
      <option value="Finance">Finance</option>
      <option value="Healthcare">Healthcare</option>
    </select>
  </div>
  
  <div>
  <label for="end">Project Deadline</label>
  <input id="end" name="end">
  </div>
  
  <input type="submit" value="Submit" />
  
</form>

<script>

  // Oh no! The datepicker only works on the Check In field. But vacation's gotta end eventually.
  // Modify the code below so that the datepicker works on the Check Out field as well.
  
  $( '#end' ).datepicker()

</script>